{%extends "calc/base.html" %}
{% block content %}
{% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.name }}</a>
              <small class="text-muted">{{ object.order_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">Consignment_id:{{ object.consignment_id }}</a></h2>
            <p class="article-content">Destination:{{ object.destination }}</p>
            <p class="article-content">Weight:{{ object.weight }}</p>
          </div>
        </article>
    {% endfor %}
{%endblock content%}