body {
  background: url(1.jpg);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 0, 0);
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: rgb(0,100,0);
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #2bab0d;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: rgb(0,100,0);
}

a.article-title:hover {
  color: rgb(0,100,0);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: rgb(0,100,0);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.sub-menu
{
    display: none;
}
.sub-menu
{
    display: none;
}
.menu-bar ul li:hover .sub-menu
{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li
{
    width: 150px;
    padding: 10px;
    background: transparent;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li a:hover
{
    color: #b2ff00;
}